@model IEnumerable<TranAnhShop.Models.mCategory>
<style>
    .dfs {
        color: #4a90e2;
        font-size: 15px;
    }
</style>
@*<div id="accordion">
        <div class="py-1 rounded-top" style="box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);background: #206bc1;">
            <button class="btn w-100 h-100 btn-sm text-light text-left pl-3" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                DANH MỤC SẢN PHẨM
            </button>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="list-group rounded-0 rounded-bottom" style="box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);">
                @foreach (var cat in Model)
                {
                    <a href="~/@cat.Slug" class="list-group-item list-group-item-action pl-3 py-1@((HttpContext.Current.Request.Url.AbsolutePath == "/" + cat.Slug)?" active":"")"> <small>@cat.Name </small></a>
                }
            </div>
        </div>
    </div>*@

<div id="accordion">

    <div class="btn w-100 h-100 bg-white text-left pl-2 py-2 font-weight-bold pt-2 rounded-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size:13px;color:#333">
        DANH MỤC <i class="fa fa-plus fa-sm float-right pr-3 pt-1" style="font-size:10px"></i>
    </div>

    <div id="collapseOne" class="collapse show bg-white pb-2" data-parent="#accordion">

        @foreach (var cat in Model)
        {
<a href="~/@cat.Slug" class="text-decoration-none d-block ml-3 mb-1">
    @if (HttpContext.Current.Request.Url.AbsolutePath == "/" + cat.Slug)
    {
<i class="check-cat"></i>
                    <div class="font-weight-bold dfs d-inline" style="color:#000"> @cat.Name</div> }
                                    else
                                    {
                    <i class="ucheck-cat"></i>
                                        <div class="dfs  d-inline"> @cat.Name</div>}
</a>}
    </div>

</div>
<div id="accordion" class="border-top border-light">

    <div class="btn w-100 h-100 bg-white text-left pl-2 py-2 font-weight-bold pt-2 rounded-0" data-toggle="collapse" data-target="#price" aria-expanded="true" aria-controls="collapseOne" style="font-size:13px;color:#333">
        GIÁ BÁN <i class="fa fa-plus fa-sm float-right pr-3 pt-1" style="font-size:10px"></i>
    </div>

    <div id="price" class="collapse bg-white pb-2" data-parent="#price">
        <div class="row">
            <div class="col-6 p-0 pl-2">
                <a href="" class="text-decoration-none d-block ml-3 mb-1">
                    <i class="far fa-circle text-white border  rounded-circle fa-sm"></i>
                    <small class="">Dưới <b>5</b> triệu</small>
                </a>
            </div>
            <div class="col-6 p-0">
                <a href="" class="text-decoration-none d-block ml-3 mb-1">
                    <i class="far fa-circle text-white border  rounded-circle fa-sm"></i>
                    <small class="">Từ <b>5 - 7</b> triệu</small>
                </a>
            </div>
            <div class="col-6 p-0 pl-2">
                <a href="" class="text-decoration-none d-block ml-3 mb-1">
                    <i class="far fa-circle text-white border  rounded-circle fa-sm"></i>
                    <small class="">Từ <b>7 - 10</b> triệu</small>
                </a>
            </div>
            <div class="col-6 p-0">
                <a href="" class="text-decoration-none d-block ml-3 mb-1">
                    <i class="far fa-circle text-white border  rounded-circle fa-sm"></i>
                    <small class="">Từ <b>12 - 15</b> triệu</small>
                </a>
            </div>
        </div>
    </div>

</div>
<div id="accordion" class="border-top border-light">

    <div class="btn w-100 h-100 bg-white text-left pl-2 py-2 font-weight-bold pt-2 rounded-0" data-toggle="collapse" data-target="#price1" aria-expanded="true" aria-controls="collapseOne" style="font-size:13px;color:#333">
        KIỂU DÁNG <i class="fa fa-plus fa-sm float-right pr-3 pt-1" style="font-size:10px"></i>
    </div>

    <div id="price1" class="collapse bg-white pb-2" data-parent="#price1">

        <a href="" class="text-decoration-none d-block ml-3 mb-1">
            <i class="far fa-circle text-white border  rounded-circle fa-sm"></i>
            <small class="">Laptop cho dân văn phòng</small>
        </a>
        <a href="" class="text-decoration-none d-block ml-3 mb-1">
            <i class="far fa-circle text-white border  rounded-circle fa-sm"></i>
            <small class="">Laptop cho dân đồ họa</small>
        </a>


    </div>

</div>
<div id="accordion" class="border-top border-light">

    <div class="btn w-100 h-100 bg-white text-left pl-2 py-2 font-weight-bold pt-2 rounded-0" data-toggle="collapse" data-target="#price2" aria-expanded="true" aria-controls="collapseOne" style="font-size:13px;color:#333">
        TIỆN ÍCH <i class="fa fa-plus fa-sm float-right pr-3 pt-1" style="font-size:10px"></i>
    </div>

    <div id="price2" class="collapse bg-white pb-2" data-parent="#price2">

        <a href="" class="text-decoration-none d-block ml-3 mb-1">
            <i class="far fa-circle text-white border  rounded-circle fa-sm"></i>
            <small class="">Gaming</small>
        </a>

        <a href="" class="text-decoration-none d-block ml-3 mb-1">
            <i class="far fa-circle text-white border  rounded-circle fa-sm"></i>
            <small class="">Văn phòng</small>
        </a>
        <a href="" class="text-decoration-none d-block ml-3 mb-1">
            <i class="far fa-circle text-white border  rounded-circle fa-sm"></i>
            <small class="">Mỏng nhẹ</small>
        </a>


    </div>

</div>


