<div style="background-color:#f3f3f3;" class="py-2">
    <div class="container-91">
        <a href=""><img src="images/banners/03-1200x140.jpg" alt="" width="100%"></a>
    </div>
</div>
<div style="background-color:#f3f3f3;" class="py-2">
    <div class="container-91 bg-white py-2 px-3">
        Tìm kiếm nhiều:
        <a class="pl-3" href="">Apple</a>
        <a class="pl-3" href="">Samsung</a>
        <a class="pl-3" href="">Xiaomi</a>
        <a class="pl-3" href="">Oppo</a>
        <a class="pl-3" href="">VIVO</a>
        <a class="pl-3" href="">Realme</a>
        <a class="pl-3" href="">Nokia</a>
    </div>
</div>
