@model TranAnhShop.Models.mUser
<table class="table border">
    <thead>
        <tr>
            <th>Địa chỉ nhận hàng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Họ tên KH: <b> @Model.Fullname</b></td>
        </tr>
        <tr>
            <td>Số điện thoại: <b> @Model.Phone</b></td>
        </tr>
        <tr>
            <td>Địa chỉ: <b> @Model.Address</b></td>
        </tr>
        <tr>
            <td>Email: <b> @Model.Email</b></td>
        </tr>
    </tbody>
</table>